{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}

<div class="d-inline-flex align-items-center m-3">
    <div class="avatar me-3">
        <img class="avatar-img rounded-circle" src="{{ app.user.avatarFilename ? asset("upload/user/avatar/"~ app.user.avatarFilename) : asset("upload/user/avatar/default.jpg") }}" alt="avatar">
    </div>
    <h1>{{ app.user }}</h1>
</div>

{% if is_granted('ROLE_CREATOR') %}
    <a class="btn btn-warning" href="{{ path('index_creation') }}">Aller sur mon espace création</a>
{% endif %}

<section class="row my-4">
    <div class="col-3">
        <!-- Dashboard menu -->
        <nav id="nav-profile" class="list-group list-group-item-secondary list-group-borderless">
            <a class="list-group-item active" href="#"><i class="bi bi-ui-checks-grid fa-fw me-2"></i>Tableau de bord</a>
            <a class="list-group-item" href="{{ path('index_apprentissage') }}"><i class="bi bi-tools fa-fw me-2"></i></i>Compétences suivies</a>
            <a class="list-group-item" href="#"><i class="bi bi-people fa-fw me-2"></i>Mes échanges <span class="badge bg-info">à venir</span></a>
            <a class="list-group-item" href="#"><i class="bi bi-star fa-fw me-2"></i>Mes commentaires <span class="badge bg-info">à venir</span></a>
            <a class="list-group-item" href="{{ path('update_profile') }}"><i class="bi bi-pencil-square fa-fw me-2"></i>Modifier mon profil</a>
            <a class="list-group-item" href="{{ path('edit_account') }}"><i class="bi bi-gear fa-fw me-2"></i>Paramètres du compte</a>
            <a class="list-group-item" href="{{ path('delete_profile') }}"><i class="bi bi-trash fa-fw me-2"></i>Supprimer profil</a>
            <a class="list-group-item text-danger bg-danger-soft-hover" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt fa-fw me-2"></i>Déconnexion</a>
        </nav>
    </div>
    <div class="main-content col-9">
        {% include "profile/components/dashboard.html.twig" %}
    </div>
</section>
{% endblock %}
