<!-- Profile START -->
<div class="dropdown ms-1 ms-lg-0">
    <a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false"> <!-- .avatar-sm permet de rendre la classe .avatar plus compacte ; data-bs-auto-close="outside" désigne la zone à cliquer pour fermer le menu déroulant -->
        <img class="avatar-img-profile rounded-circle" src="{{ app.user.avatar ? asset("upload/avatar/"~ app.user.avatar) : asset("upload/avatar/default.jpg") }}" alt="avatar">
    </a>
    <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown" data-bs-popper="none">
        <!-- Profile info -->
        <li class="px-3">
            <div class="d-flex align-items-center">
                <!-- Avatar -->
                <div class="avatar me-3">
                    <img class="avatar-img-profile rounded-circle shadow" src="{{ app.user.avatar ? asset("upload/avatar/"~ app.user.avatar) : asset("upload/avatar/default.jpg") }}" alt="avatar">
                </div>
                <div>
                    <h6 class="m-0">{{ app.user.pseudo }}</h6>
                    <p class="small m-0">{{ app.user.email }}</p>
                </div>
            </div>
            <hr>
        </li>
        <!-- Links -->
        <li><a class="dropdown-item" href="{{ path('index_profile') }}"><i class="bi bi-person fa-fw me-2"></i>Mon profil</a></li>
        <li><a class="dropdown-item" href="{{ path('update_account') }}"><i class="bi bi-gear fa-fw me-2"></i>Paramètres du compte</a></li>
        <li><a class="dropdown-item" href="#"><i class="bi bi-info-circle fa-fw me-2"></i>Aide</a></li>
        <li><a class="dropdown-item text-danger bg-danger-soft-hover" href="{{ path('app_logout') }}"><i class="bi bi-box-arrow-right fa-fw me-2"></i>Déconnexion</a></li>
        <li> <hr class="dropdown-divider"></li>
    </ul>
</div>
<!-- Profile START -->
