{% extends "base.html.twig" %}

{% block title %}Compétences créées{% endblock %}

{% block body %}

<div class="card border bg-transparent rounded-3 my-3">
    <!-- Card header START -->
    <div class="card-header bg-transparent border-bottom">
        <h3 class="mb-0">Compétences créées</h3>
    </div>
    <!-- Card header END -->

    <!-- Card body START -->
    <div class="card-body">

        <!-- Course list table START -->
        <div class="table-responsive border-0">
            <table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
                <!-- Table head -->
                <thead>
                    <tr>
                        <th scope="col" class="border-0 rounded-start">Compétence</th>
                        <th scope="col" class="border-0">Créée le</th>
                        <th scope="col" class="border-0 rounded-end">Action</th>
                    </tr>
                </thead>

                <!-- Table body START -->
                <tbody>
                    <!-- Table item -->
                    {% for competence in mes_competences %}
                        <tr>
                            <!-- Competence item -->
                            <td>
                                <div class="d-flex align-items-center">
                                    <!-- Image -->
                                    <div class="w-60px">
                                        <img src="assets/images/courses/4by3/08.jpg" class="rounded" alt="">
                                    </div>
                                    <div class="mb-0 ms-2">
                                        <!-- Title -->
                                        <h6><a href="{{ path('show_competence', {'id': competence.id}) }}">{{ competence.intitule }}</a></h6>
                                        <!-- Info -->
                                        <div class="d-sm-flex">
                                            <span class="h6 fw-light mb-0">{{ competence.apprentissages | length }} {% if competence.apprentissages | length > 1 %}apprenants{% else %}apprenant{% endif %} <i class="bi bi-people fa-lg text-success"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <!-- Learners item -->
                            <td class="text-center text-sm-start">{{ competence.dateCreation | date("d/m/Y") }}</td>
                            <!-- Action item -->
                            <td>
                                <a href="{{ path('update_competence', {'id': competence.id }) }}" class="btn btn-sm btn-success btn-round me-1 mb-0"><i class="far fa-fw fa-edit"></i></a>
                                {% if competence.apprentissages is not empty %}
                                    <a href="#" onclick="return confirm('Voulez-vous vraiment supprimer cette compétence ?')"  class="btn btn-sm btn-danger btn-round me-1 mb-0 disabled"><i class="fas fa-fw fa-times"></i></a>
                                {% else %}
                                    <a href="{{ path('delete_competence', {'id': competence.id }) }}" onclick="return confirm('Voulez-vous vraiment supprimer cette compétence ?')"  class="btn btn-sm btn-danger btn-round me-1 mb-0"><i class="fas fa-fw fa-times"></i></a>                                    
                                {% endif %}
                            </td>
                        </tr>                            
                    {% endfor %}
                </tbody>
                <!-- Table body END -->
            </table>
        </div>
        <!-- Course list table END -->

    </div>
    <!-- Card body START -->
</div>

{% endblock %}