{% extends 'base.html.twig' %}

{# {% block _user_registration_form_agreeTerms_row %}
        {% for composant in composants %}
            {% if composant.type.affichage == 'carte' %}
                {% include "type/card.html.twig" %}
            {% elseif composant.type.affichage == 'graphique' %}
                {% include "type/graph.html.twig" %}    
            {% endif %}
        {% endfor %}
{% endblock %} #}

{% block title %}Création d'une compétence{% endblock %}

{% block body %}

    <h1>Quelle compétence souhaitez-vous créer ?</h1>

    {{ form_start(formCompetence) }}
    {{ form_row(formCompetence.intitule) }}
    {{ form_row(formCompetence.domaine) }}
	{{ form_row(formCompetence.synopsis) }}
	{{ form_row(formCompetence.description) }}
	{{ form_row(formCompetence.image) }}
	{{ form_row(formCompetence.icone) }}

    <h2 class="center">Choisissez vos composants</h2>
	{# <div class="form-group row ">
		<div class="col-form-label col-sm-2">&nbsp;</div>
		<div id="composant-fields-list" class="col-sm-10 remove-collection-widget" data-prototype="{{ form_widget(formCompetence.composants.vars.prototype)|e }}" data-competence="{{competenceId}}" data-widget-tags="{{ '<p></p>'|e }}" data-widget-counter="{{ formCompetence.composants|length }}">
			{% for composantField in formCompetence.composants %}
				<p>
					{{ form_errors(composantField) }}
					{{ form_widget(composantField, {'attr': {'class': 'borders'}}) }}
				</p>
			{% endfor %}
		</div>
	</div>
	<div class="form-group row flex-action">
		<button type="button" class="add-another-collection-widget btn btn-primary" data-list-selector="#composant-fields-list">Ajouter un composant</button>
	</div> #}
	{# empêche l'apparition d'une légende "composants", si la collection est vide (en cas de création d'une nouvelle compétence) #}
	<div class="row g-4 my-3">
		{% for composant in composants %}
			<div class="col-sm-12 col-lg-6 competence-choice" data-id={{ composant.id }}>
				{% if composant.type.affichage == 'carte' %}
					{% include "composant/type/card.html.twig" %}
				{% elseif composant.type.affichage == 'graphique' %}
					{% include "composant/type/graph.html.twig" %}    
				{% endif %}
				{# {% include "composant/type/card.html.twig" with {composant: composant} only %} #}
			</div>
		{% endfor %}
	</div>
	<ul id="gestionComposants" data-prototype= "{{ form_row(formCompetence.composants.vars.prototype)|e('html_attr') }}">

        {% for composant in formCompetence.composants %}

            <li>{{ form_row(composant) }}</li>

        {% endfor %}

    </ul>
	{# {% do formCompetence.composants.setRendered %} #}

	{{ form_end(formCompetence) }}

	<script src="/js/script.js"></script>

{% endblock %}