{% extends 'base.html.twig' %}

{% block title %}Illustre - Création Compétence{% endblock %}

{% block body %}

    <div class="card border bg-transparent rounded-3 my-4">
        <!-- Card header -->
        <div class="card-header bg-transparent border-bottom">
            <h3 class="card-header-title mb-0 text-center">Créez / Modifiez votre compétence</h3>
        </div>
        <!-- Card body -->
        <div class="card-body">
			{{ form_start(formCompetence) }}
				{{ form_row(formCompetence.intitule) }}
				{{ form_row(formCompetence.domaine) }}
				{{ form_row(formCompetence.synopsis) }}
				{{ form_row(formCompetence.description) }}
				{{ form_row(formCompetence.imageFilename) }}
				{{ form_row(formCompetence.iconeFilename) }}
			
				{% if composantsActuels | length > 0 %}
					<h4 class="center">Composants attribués à cette compétence</h4>
					<div class="row g-4 my-3">
						{% for composant in composantsActuels %}
						{# on passe la classe competence-choice à tous conteneurs des composants sélectionnables et on pense à passer l’id du composant en attribut data-id #}
							<div class="col-sm-6 col-lg-3 col-lg-4 competence-choice update" data-id={{ composant.id }}>
							{# on conditionne l’affichage de chaque composant en fonction de la valeur de l’attribut "affichage" de son attribut "type" #}
								{% if composant.type.affichage == 'carte' %}
									{% include "composant/type/card.html.twig" %}
								{% elseif composant.type.affichage == 'graphique' %}
									{% include "composant/type/graph.html.twig" %}    
								{% endif %}
							</div>
						{% endfor %}
					</div>
				{% else %}
					<p>Aucun composant actuellement</p>
				{% endif %}
				<h4 class="center">Choisissez vos composants</h4>

				<div class="row g-4 my-3">
					{% for composant in composantsDisponibles %}
						<div class="col-sm-6 col-lg-3 col-lg-4 competence-choice" data-id={{ composant.id }}>
							{% if composant.type.affichage == 'carte' %}
								{% include "composant/type/card.html.twig" %}
							{% elseif composant.type.affichage == 'graphique' %}
								{% include "composant/type/graph.html.twig" %}    
							{% endif %}
						</div>
					{% endfor %}
				</div>
        </div>
        <div class="card-footer bg-transparent text-center">
            {{ form_end(formCompetence) }}
        </div>
    </div>

	<script src="/js/script.js"></script>

{% endblock %}