{% extends 'base.html.twig' %}

{% block title %} {{ domaine }} {% endblock %}

{% block body %}

    <div class="card border bg-transparent rounded-3 my-4">
        <!-- Card header -->
        <div class="card-header bg-transparent border-bottom d-inline-flex justify-content-center align-items-center">
            <img class="icon" src={% if domaine.iconeFilename %}"{{ asset('upload/domaine/icon/') ~ domaine.iconeFilename }}"{% else %}"{{ asset('upload/domaine/icon/default.png') }}"{% endif %} alt="{{ domaine }} icon">
            <h1 class="card-header-title">{{ domaine }}</h1>
            <a href="{{ path('delete_domaine', {'id' : domaine.id}) }}"><button>Supprimer</button></a>
        </div>
        <!-- Card body -->
        <div class="card-body text-center">
            <div class="col-12">
                <img class="image" src="{{ asset('upload/domaine/img/') ~ domaine.imageFilename }}" alt="{{ domaine }} image">
            </div>
        </div>
        <div class="card-footer bg-transparent">
            {{ domaine.description }}
        </div>
    </div>

    <h2 class="text-center my-4">Compétences</h2>

    <div class="row g-4">
        {% if domaine.competences | length != 0 %}
            {% for competence in domaine.competences %}
                {% include "competence/card.html.twig" %}
            {% endfor %}
        {% else %}
            <p>Pas encore de compétences disponibles dans ce domaine</p>                
        {% endif %}
    </div>

{% endblock %}