{% extends 'base.html.twig' %}

{% block title %} {{ domaine }} {% endblock %}

{% block body %}

<img src="{{ domaine.icon }}" alt="{{ domaine }} icon">
<h1 class="text-center">{{ domaine }}</h1>

<h2>Description</h2>

<p> {{ domaine.description }} </p>

<h2>Compétences</h2>

    {% for competence in domaine.competences %}
    
    {% include "../competence/card.html.twig" %}

    {% endfor %}

{% endblock %}