{% extends 'base.html.twig' %}

{% block title %} {{ domaine }} {% endblock %}

{% block body %}


<h1 class="text-center">
    <img src="{{ asset('images/domaineIcons/') ~ domaine.iconeFilename }}" alt="{{ domaine }} icon">
    {{ domaine }}
</h1>

<h2>Description</h2>

<img src="{{ asset('images/domaineImages/') ~ domaine.imageFilename }}" alt="{{ domaine }} image">

<p> {{ domaine.description }} </p>

<h2>Compétences</h2>

<div class="row g-4">
    {% for competence in domaine.competences %}
        {% include "competence/card.html.twig" %}
    {% endfor %}
</div>

{% endblock %}